[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "libsmb2"]
	path = libsmb2
	url = https://github.com/yunkya2/libsmb2.git
[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "x68kserremote"]
	path = x68kserremote
	url = https://github.com/yunkya2/x68kserremote.git
